<div class="p-4">
    <div class="container w-75 align-center">
        <form action="" (ngSubmit)="this.onSubmitForm()" #f="ngForm">
            <div class="form-group">
                <label for="libelle">Libelle</label>
                <input type="text"
                  class="form-control" name="libelle" id="libelleId" aria-describedby="helpId" placeholder="" [(ngModel)]="libelle" #lib="ngModel">
                <small *ngIf="(lib.touched && lib.pristine) || (submit && lib.pristine)" id="helpId" class="form-text text-muted">Veuillez renseigner le libelle</small>
            </div>
            <div>
                <button class="btn btn-danger" type="reset">
                    Reset
                </button>
                <button class="btn btn-primary ml-4" type="submit">
                    Soumettre
                </button>
            </div>
        </form>
    </div>
</div>