<div class="p-4">
    <!-- <button type="button" class="btn btn-primary">Apprenants <span class="badge">{{this.promotion.apprenants.length}}</span></button> -->
    <div *ngIf="this.promotionAdded">
        <div id="todownload">
            <div class="row">
                <div class="col-sm-5">
                    <img src="{{'data:image/jpg;base64,'+this.promotionAdded.image}}" id="imgPromo" alt="avatar promo">
                </div>
                <div class="col-sm-4">
                    <p>Titre: {{this.promotionAdded.titre |uppercase}}</p>
                    <hr>
                    <p>Apprenants de la {{this.promotionAdded.titre |uppercase }} de la Sonatel Academy</p>
                </div>
                <div class="col-sm-3">
                    <p><i class="fas fa-calendar-week"></i>  Du {{this.promotionAdded.dateDebut |date}} au {{this.promotionAdded.dateFin |date}}</p>
                    <p><i class="fas fa-map-marker-alt"></i>  Lieu {{this.promotionAdded.lieu}}</p>
                    <p><i class="fas fa-user-friends"></i>  {{this.promotionAdded.apprenants.length}} Apprenants</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <p style="text-decoration: underline;">Referentiels de la promo :</p>
                    <ul class="list-group">
                        <li *ngFor="let ref of this.promotionAdded.referentiels" class="list-group-item">
                            <p>{{ref.libelle}}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <p style="text-decoration: underline;">Fomateurs de la promo :</p>
                    <ul class="list-group">
                        <li *ngFor="let form of this.promotionAdded.formateurs" class="list-group-item">
                            <p>{{"Mr "+form.lastname}}</p>
                        </li>
                    </ul>
                </div>
            </div>
           
            <br>
            <p>Apprenants de la promo :</p>
            <div class="row">
                <app-apprenant-card *ngFor="let oneApprenant of this.promotionAdded.apprenants" [apprenant]="oneApprenant" class="col-mb-4 m-2"></app-apprenant-card>
            </div>
        </div>
        <hr>
        <button type="button" (click)="this.captureScreen()" class="btn btn-outline-success">Telecharger la promotion</button>
        <a class="btn btn-outline-primary ml-4" href="/accueil/promo/liste"> Liste des promotions</a>
    </div>
</div>