<div class="p-4">
  <h4 class="text-center">Liste des profils de sorties</h4>
    <a [routerLink]="[ '/accueil/profil-sortie/add' ]" class="float-right btn btn-outline-primary mb-2"><i class="fas fa-plus"></i></a>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Libelle</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let profilSortie of this.profilSortie| slice: (page-1) * pageSize : page * pageSize">
            <td>{{profilSortie.libelle}}</td>
            <td>
                <a [routerLink]="['/accueil/profil-sortie/detail',profilSortie.id]" class="btn btn-sm btn-outline-info mr-4"><i class="fas fa-list-ul"></i></a>
                <a [routerLink]="['/accueil/profil-sortie/edit',profilSortie.id]" class="btn btn-sm btn-outline-warning mr-4"><i class="fas fa-edit"></i></a>
                <a class="btn btn-sm btn-outline-danger" (click)="removePlSortie(profilSortie.id)"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="profilSortie.length"></ngb-pagination>
</div>